* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* set body background color */
body {
    background-color: #D1D1D1;
}

/* flex with wrap */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* regular flex with flex-end justification */
.flex-end {
    display: flex;
    justify-content: flex-end;
}

/* remove bullets from lists */
.no-bullet {
    list-style-type: none;
}

/* header configurations */
header {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1%;
    background-color: #181818;
}

header h1 {
    flex-basis: 60%;
    font-size: 50px;
    color: #fff;
}

header nav {
    padding-top: 15px;
    flex-basis: 40%;
    color: #fff;
}

/* spread links across their container */
.spread-links {
    display: flex;
    flex-basis: 100%; 
    justify-content: space-around;
    align-items: center;
} 

/* remove text wrapping and center text */
.no-wrap {
    justify-content: center;
    white-space: nowrap;
    text-align: center;
}

/* background image for between header and content */
/* section will have background image and subtitle */
.head-background {
    content: "";
    flex-direction: row-reverse;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("images/nick-banner-center.png");
    background-size: cover;
    background-position: center;
}

/* subtitle formatting */
.subtitle {
    align-self: flex-end;
    margin: 4% 5%;
    font-size: 27px;
    color: #fff;
    background-color: #181818;
    font-style: italic;
    font-weight: bold;
    padding: 2px 4px;
}

/* link with no decoration and bottom border */
.no-underline {
    text-decoration: none;
    padding: 0 2px 2px 2px;
    border-bottom: 2px solid #fff;
}

/* formatting links */
.link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 2px 2px 2px;
}

/* for links in header nav */
.head-link {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* formatting hover for links in header nav */
.head-link:hover {
    background-color: #fff;
    color: #000000;
    font-weight: bold;
}

/* for links in contact section */
.contact-link {
    color: #000000;
    border-bottom: 2px solid #000000;
}

/* formatting hover for contact links */
.contact-link:hover {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}

/* paragraph formatting */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    padding: 0 2%;
}

/* class to bold and center text */
.bold-center {
    font-weight: bold;
    text-align: center;
}

/* add some top/bottom space to each section container */
/* keeps the content from squishing together */
.main-container {
    margin: 3% auto;
}

/* formatting titles */
.title {
    flex-basis: 15%; /* take up 15% of screen */
    padding-right: 5px; /* pad side for space between border */
    border-right: 2px solid black; /* add line to divide title and content */
    font-size: 35px;
    font-weight: bolder;
    text-align: right; /* push text to the right of container */
}

/* formatting content next to titles */
.content {
    flex-direction: column;
    flex-basis: 85%;
    text-align: center;
}

/* establish container for block */
.block-container {
    justify-content: space-around;
    flex-basis: 85%;
}

/* set other work block heights and features */
.work-block {
    height: 250px;
    flex-basis: 45%;
    border: 2px solid #fff;
    margin: 10px 0;  
    position: relative;  
}

/* add hyperlink to work blocks */
.work-block-link {
    position: absolute; /* positioning hyperlink relative to work blocks */
    width: 100%; /* width same as container */
    height: 100%; /* height same as container */
    top: 0; /* position at top of container */
    left: 0; /* position at left of container */
}

.work-block-link:hover {
    background-color: #414040; /* background color when hover */
    opacity: 0.25; /* make sure you can see through it */
}

/* this hides the link text visually while allowing link text */
/* useful for screen reader accessibility */
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* format work block titles */
.work-block-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    align-self: flex-end;
    padding: 20px 10px;
}

/* this section is where I set background images for work blocks */
#surf-report-block {
    /* width 95% so there is some space on either side */
    flex-basis: 95%; /* makes this block always the largest */
    background-image: url(images/stock-chart.jpg);  
    background-position: 25%;
}

#led-wall-block {
    background-image: url(images/weather.jpg);
    background-position: center;
}

#calculator-block {
    background-image: url(images/code.jpg);
    background-position: center;
}

#pastel-puzzles-block {
    background-image: url(images/puzzle.png);
    background-position: center;
}

#run-buddy-block {
    background-image: url(images/running-man.png);
    background-position: center;
}

@media screen and (max-width: 992px) {
    
    /* stack containers in header and center the content */
    header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    /* make h1 container in header take up whole width */
    /* center the content */
    header h1 {
        flex-basis: 100%;
        justify-content: center;
    }
    
    /* make nav container in header take up whole width */
    /* center the content */
    header nav {
        flex-basis: 100%;
        justify-content: center;
    }

    /* change anything with flex-wrap class to center content */

    .flex-wrap {
        justify-content: center;
    }

    /* change anything with flex-end class to center content */
    /* previously moved contents to end */
    .flex-end {
        justify-content: center;
    }

    /* make container content center */
    .main-container {
        justify-content: center; 
    }
    
    /* adjust title formatting */
    .title {
        border-right: none; /* remove border */
        text-align: center; /* center text */
        font-size: 56px; /* change title font */
        padding-bottom: 2%; /* add some space between title and content */
        text-decoration: underline; /* underline titles */
        flex-basis: 100%; /* make title take up full width */
    }

    /* center paragraph text */
    p {
        text-align: center;
    }

    /* surf block now takes up full container width */
    #surf-report-block {
        flex-basis: 100%;
    }

    /* make blocks have space between instead of space around */
    .block-container {
        justify-content: space-between;
    }

    .work-block {
        justify-content: flex-start; /* move block titles to left of container */
        flex-basis: 47%; /* adjust width to close the gap between blocks */
    }
}

@media screen and (max-width: 768px) {
   
    /* add some space around links and make them take up the whole screen */
    header nav {
        padding-bottom: 10px;
        flex-basis: 100%;
    }

    /* change surf block width to match the rest */
    /* adjust background image position to show the dude */
    #surf-report-block {
        flex-basis: auto;
        background-position: 35%;
    }

    /* make work blocks fill entire container */
    .work-block {
        flex-basis: 100%;
    }

    /* change title font sizes */
    .title {
        font-size: 45px;
    }
    
    /* make paragraph font smaller for smaller screens */
    p {
        font-size: 16px;
    }

    /* change nav lists to inline-flex and format for space between and around links */
    nav ul {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px;
    }

    /* make individual links overflow to next line at 2nd link */
    /* flex-basis 40% because taking margin into account */
    nav ul li {
        margin: 5px;
        flex-basis: 40%;
        flex-wrap: wrap;
    }

}