* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #707070;
}

header {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1%;
    background-color: #181818;
}

header h1 {
    display: flex;
    flex-basis: 50%;
    font-size: 50px;
    color: #fff;
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    flex-basis: 50%;
    color: #fff;
}

header nav ul {
    display: inline-flex;
    flex-basis: 60%;
    color: #fff;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
}

#head-background {
    content: "";
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/wood-banner.png");
    background-size: cover;
    background-position: center;
}

#subtitle {
    display: flex;
    align-self: flex-end;
    padding: 2% 5%;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 0 2px 2px 2px;
    border-bottom: 2px solid #fff;
}

a:hover {
    background-color: #d3d3d3;
    color: #000000;
}

#about-me {
    display: flex;
    flex-direction: row;
    margin: 2% auto;
    flex-basis: 10%;
}

.title {
    display: flex;
    flex-basis: 15%;
    padding-right: 5px;
    border-right: 2px solid black;
    justify-content: flex-end;
    font-size: large;
}

#about-me .content {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    text-align: center;
}

#work-section {
    display: flex;
    flex-direction: row;
    margin: 2% auto;
    flex-basis: 10%;
}

#work-blocks {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 90%;
}

#top-work-block {
    display: flex;
    flex-basis: 95%;
}

.work-block {
    display: inline-flex;
    flex-direction: column-reverse;
    height: 250px;
    flex-basis: 45%;
    border: 2px solid #fff;
    margin: 10px 0;    
}

footer {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 40px 0;
}

footer h1 {
    display: flex;
    text-align: right;
}

footer nav {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    flex-basis: 75%;
    color: #fff;
}

footer nav ul {
    display: inline-flex;
    flex-basis: 100%;
    color: #fff;
    justify-content: space-around;
    list-style-type: none;
}

footer nav ul li {
    width: 100%;
    justify-content: center;
    text-align: center;
}
